# Ігноруємо віртуальне оточення (Обов'язково за ТЗ)
.venv/
venv/
ENV/

# Ігноруємо кеш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ігноруємо локальні налаштування VS Code
.vscode/

# Ігноруємо файли Streamlit
.streamlit/